@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
              /* ↑↑↑ 폰트 적용하기 위해 링크 끌어오는 코드 ↑↑↑ */

h1{
  font-family: 'Jeju Hallasan', serif;
}

#body-content > ul > li > h2{
  border-style: solid;
}

#body-menu{
  margin: 100px;
}

#bottom > p{
  color: gray;
}
nav {
  margin-left:8%;
  margin-right:8%;
  vertical-align: text-bottom;
  padding:0px
}

nav > ul{
  border-top: thin solid gray;
  margin:0px;
  padding:0px;
  list-style:none;
}
nav li{
  float:left;
  margin-bottom: 5px;
  margin-right: 50px
}
nav li a{
  font-size:20px;
  color:black;
  font-weight:bold;
  text-decoration:none
}
